Practice_dataset/
Segmentation/assets/Practice_dataset

Segmentation/assets/.ipynb_checkpoints
assets/.ipynb_checkpoints
Segmentation/assets/*.h5


Segmentation/data/dataset/
Segmentation/data/RGB_color_image_masks
Segmentation/data/class_dict_seg.csv
Segmentation/data/*

Segmentation/results/models
Segmentation/results/predicted_images
Segmentation/results/predictions
Segmentation/results/residuals

Segmentation/assets/models
assets/models

Segmentation/src/utils/__pycache__